<#include "header2.htm"/>
<form name="formlostpassword" accept-charset="${encoding}" action="${contextPath}/jforum${extension}" method="post" target="_top">
	<input type="hidden" name="module" value="user" />
	<input type="hidden" name="action" value="lostPasswordSend" />
	
	<table cellspacing="2" cellpadding="2" width="100%" align="center" border="0">
		<tr>
			<td class="nav" align="left"><a class="nav" href="${contextPath}/forums/list${extension}">${I18n.getMessage("ForumListing.forumIndex")}</a></td>
		</tr>
	</table>
	
	<table class="forumline" cellspacing="1" cellpadding="4" width="100%" align="center" border="0">
		<tr>
			<th class="thhead" nowrap="nowrap" height="25">
				${I18n.getMessage("PasswordRecovery.title")}
			</th>
		</tr>
	
		<tr>
			<td class="row1">
				<table cellspacing="1" cellpadding="3" width="100%" border="0">
					<tr>
						<td class="grigio" colspan="2">&nbsp;</td>
					</tr>
					
					<#if message?exists>
						<tr>
							<td class="grigio" align="center"><span class="gen"><font color="#ff0000"><b>${message}</b></font></span></td>
						</tr>
					</#if>
					
					<tr>
						<td class="grigio">
							<table class="grigio" align="center">
								<tr class="grigio" >
									<td class="grigio" align="right"><span class="gen">${I18n.getMessage("User.emailAddress")}:</span></td>
									<td class="grigio" align="left"><input type="text" maxlength="40" size="35" name="email" /></td>
								</tr>
								<tr class="grigio">
									<td class="grigio" align="center" colspan="2"><span class="gen"><b>${I18n.getMessage("or")}</b></span></td>
								</tr>
								<tr class="grigio">
									<td class="grigio" align="right"><span class="gen">${I18n.getMessage("Login.user")}:</span></td>
									<td class="grigio" align="left"><input type="text" maxlength="40" size="35" name="username" /></td>
								</tr>
							</table>
							<table align="center" id="table1">
								<tr class="grigio">
									<td class="grigio" rowspan="3" valign="middle">&nbsp;<input class="mainoption" type="submit" value="${I18n.getMessage("ok")}" name="login"/></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="grigio">
						<td class="grigio" colspan="2" align="center"><span class="gen">${I18n.getMessage("PasswordRecovery.usage")}</span></td>
					</tr>
					<tr class="grigio" align="center">
						<td class="grigio" colspan="2">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
<#include "bottom.htm"/>